.tilesWrap {
  padding: 60;
  margin: 50px;
  list-style: none;
  text-align: center;
}
.tilesWrap li {
  display: inline-block;
  /* width: 230px; */
  /* min-width: 200px;
  max-width: 230px; */
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  font-family: "helvetica";
  min-height: 25vh;
  background: #1a1613;
  text-align: left;
}
.tilesWrap li h2 {
  font-size: 114px;
  margin: 0;
  position: absolute;
  opacity: 0.2;
  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}
.tilesWrap li p {
  font-size: 12px;
  line-height: 18px;
  color: #c5c3c3;
  margin-top: 5px;
}
.tilesWrap li button {
  background: transparent;
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  color: #b7b7b7;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}
.tilesWrap li button:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 120%;
  background: #b7b7b7;
  top: 0;
  opacity: 0;
  left: -140px;
  border-radius: 0 20px 20px 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li:hover button {
  transform: translateY(5px);
  opacity: 1;
}
.tilesWrap li button:hover {
  color: #262a2b;
}
.tilesWrap li button:hover:before {
  left: 0;
  opacity: 1;
}
.tilesWrap li:hover h2 {
  top: 0px;
  opacity: 0.6;
}

.tilesWrap li:hover:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  transform: skew(2deg, 2deg);
}

.tilesWrap li:nth-child(1):before {
  background: -webkit-linear-gradient(rgb(235, 214, 97), rgb(221, 221, 221));
}

/* @media only screen and (max-width: 1920px) {
  .tilesWrap {
    margin-left: 250px;
    list-style: none;
    text-align: center;
  }
} */
